@import "./components.pcss";
@import "./cards.pcss";
@import "./nav.pcss";
@import "./grids.pcss";
@tailwind preflight;
@tailwind components;
@tailwind utilities;

body,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container {
    min-height: calc(100vh - 4rem);
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.main-container__content {
    min-height: calc(100vh - 4rem);
}

.flex-spacer {
    flex-basis: 0;
    flex-grow: 1;
}

th {
    padding: 0.5rem 0;
    @apply text-black font-bold text-left;
}

td {
    padding: 1rem 0;

    @apply text-grey-darkest;
}

tr:not(:last-child) {
    border-bottom: 2px solid;
    @apply border-grey-light;
}

thead {
    padding: 1rem 0;
    border-bottom: 3px solid;
    @apply border-grey-light;
}

.tr-hover:hover {
    cursor: pointer;
    @apply bg-grey-lighter;
}
